body {
	background-color: rgb(54,54,54);
}

.container {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.clock, .lineChart, .compass, .submarine {
	display: block;
	margin: 5px 0px 0px 5px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.2);
}
