body {
	background-color: rgb(51, 51, 51);
	margin: 0;
	color: rgb(200, 200, 200);
}

fieldset {
	border: none;
}

.x-major, .y-major {
	stroke: rgb(200, 200, 200);
}

.data-line {
	stroke: rgb(255, 128, 0);
	stroke-width: 2;
	fill: none;
}

.joystick-border {
	stroke: rgb(255, 128, 0);
	fill: none;
}

.joystick-handle {
	stroke: none;
	fill: rgb(255, 128, 0);
}