body {
	background-color: rgb(51,51,51);
	color: rgb(210,210,210);
}

#vessel {
	width: 200px;
	height: 200px;
	display: block;
	background-color: rgba(128,128,128, 0.5);
}

#compass {
	background-color: rgba(128,128,128, 0.5);
}
