body {
	background-color: rgb(51,51,51);
	color: rgb(210,210,210);
}

.container {
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
}

#vessel {
	width: 200px;
	height: 200px;
	display: block;
	background-color: rgba(255, 255, 255, 0.25);
}

#compass {
	background-color: rgba(255, 255, 255, 0.25);
}
