<html>
<head>
	{{> header.html}}
	<script type="text/ecmascript" src="js/xhr.js"></script>
	<script type="text/ecmascript">
		var text;

		function init() {
			text = document.getElementById("text");

			refresh();
		}

		function refresh() {
			xhr.get('/imu', update);
		}

		function update(err, data) {
			text.innerText = JSON.stringify(data, null, 2);

			if (data.status == 200) {
				setTimeout(refresh, 1000);
			}
		}
	</script>
</head>
<body onload="init()">
	<h1>G2X Submarine</h1>
	<pre id="text"></pre>
</body>
</html>
